<th:block class="--Home" th:fragment="Home">
<th:block class="--swiper" th:replace="~{layouts/swiper :: swiper}"></th:block>
<p>Items</p>
<div class="site-desc">
	<section class="site-desc-direction">
		<div class="TwoColumn-Sec">
			<div class="TwoColumn-Sec-Col">
				<div class="TwoCol-Sec-MediaContainer">
					<img class="colimg" src="images/cont2.jpg">
				</div>
			</div>
			<div class="TwoColumn-Sec-Col">
				<div class="TwoCol-Sec-MediaContainer">
					<div class="Cols-Title mb-4">
						<h1>What We Stand For</h1>
					</div>
					<div class="Cols-event-Item">
						<div class="Cols-icon">
							<img src="images/icon1.png">
						</div>
						<div class="Cols-context mb-1">
							<h2>IMPACT PROTECTION</h2>
							<p>Pioneering impact protection technology that protects your devices like no other.</p>
						</div>
					</div>
					<div class="Cols-event-Item">
						<div class="Cols-icon">
							<img src="images/icon2.png">
						</div>
						<div class="Cols-context mb-1">
							<h2>SUSTAINABILITY</h2>
							<p>From recycled materials to intelligent bio-technology formulas, we protect your tech and our planet.</p>
						</div>
					</div>
					<div class="Cols-event-Item">
						<div class="Cols-icon">
							<img src="images/icon3.png">
						</div>
						<div class="Cols-context mb-1">
							<h2>DESIGN INNOVATION</h2>
							<p>Whether it’s product design or lab-developed material additives, we are always innovating our products.</p>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
</div>
<div>
	<form action="" method="post" name="itemform">
	<div class="Item-container">
		<div class="Item-card" th:each="item : ${items}">
			<a class="goto-item" th:href="@{itemViews/{id}(id=${item.getId()})}">
				<div class="item-img-contain">
					<img class="item-img" th:src="@{${item.getImgPath()}}" alt="..." />
				</div>
				<div class="item-text">
					<input name="itemId" type="text" th:value="${item.getId()}">
					<p class="item-kind item-context" th:text="${item.getKind()}"></p>
					<p class="item-name item-context" th:text="${item.getName()}"></h3>
					<p class="item-value item-context" th:text="'$'+${item.getItem_price()}"></p>
				</div>
			</a>
		</div>					
	</div>
	</form>
</div>
<input name="userId" type="text" th:value="${user.getId()}">
<p>test</p>
<p>Ads</p>
</th:block>

	    