<!DOCTYPE html>


<th:block class="--modify" th:fragment="modify">
	<div class="pre-Product-Body">
		<div class="Product-Column-media">
			<div class="Product-Image">
				<img class="item-img" th:src="@{${item.getImgPath()}}" alt="..." />
			</div>
		</div>
		<div class="Product-Column-content">
			<div class="pre-ProductContent">
				<div class="Product-content-Header">
					<h1 class="Product-content-Title fz-24_28" th:text="${item.getName()}"></h1>
					<div class="Product-content-Price">
						<div class="ProductContent-TopBar">
							<div class="item-content">
								<input name="itemId" type="hidden" th:value="${item.getId()}">
								<form th:action="@{/itemModifyPro}" name="itemform" method="post" enctype="multipart/form-data">
								<div class="d-flex">
									<label>상품 상태</label>
									<div class="item_status d-flex">
										<input type="radio" name="isSoldout" id="isSoldout" value="0" checked>판매중
										<input type="radio" name="isSoldout" id="isSoldout" value="1">품절
									</div>
								</div>
								<div class="item-input-box ">
									<label>상품 종류</label>
									<input type="text" name="kind" id="kind" th:value="${item.getKind()}">
								</div>
								<div class="item-input-box ">
									<label>상품 이름</label>
									<input type="text" name="name" id="name" th:value="${item.getName()}">
								</div>
								<div class="item-input-box ">
									<label>상품 설명</label>
									<textarea type="text" name="detail" id="detail" th:text="${item.getDetail()}"></textarea>
								</div>
								<div class="item-input-box ">
									<label>상품 가격</label>
									<input type="text" name="item_price" id="item_price" th:value="${item.getItem_price()}">
								</div>
								<div class="item-input-box ">
									<label>상품 재고</label>
									<input type="text" name="stock" id="stock" th:value="${item.getStock()}">
								</div>
								<div class="item-input-box ">
									<label>상품 이미지</label>
									<input type="file" name="imgPath" id="imgPath">
								</div>
								<div class="mt-4">
									<button type="button" name="update" class="ModifyProAct btn btn-dark">상품 정보 수정</button>
									<button type="button" name="delete" class="ModifyProAct btn btn-danger">상품 삭제</button>
								</div>
							</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div></div>
	</div>
		
</th:block>
