@charset "UTF-8";

:root {
	-black-100: #000;
	-white-100: #fff;
}

.top-nav {
	display: flex;
	min-width: 768px;
	background-color: var(-white-100);
	justify-content: space-around;
}

.MainContainer {
	display: flex;
	justify-content: center !important;
}

.auth-container {
	display: block;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    padding: 30px 30px;
    border: 1px solid #aaa;
    border-radius: 15px;
}

.contain-bg1 {
  	backdrop-filter: blur(50px);
}

.pt-10 {
	padding-top: 100px;
}

.mt-20 {
	margin-top: 20px;
}

.input-cont {
	margin-top: 10px;
}

.button-cont {
	text-align:right;
	margin: 40px 0 0 0;
}

.btn-m-prime {
	display: inline-block;
    font-weight: 600;
    line-height: 1.5;
    color: #000;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;	
}

.btn-m-prime:hover {
	background-color: #000;
	color: #fff;
}

.text-container h1 {
	font-weight: 900;
}

/* .background-total, html {
	height: 100%;
	background-color: #000;
}

.txt-light {
	color: #fff
} */