<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hello</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/layouts.css" />
    <link rel="stylesheet" href="../css/swiper.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>
<div class="large-container">
	<div class="container" style="">
		<th:block class="--header" th:replace="~{layouts/header :: header}"></th:block>
		<div class="">
			<p>본문</p>
		</div>
	</div>
	<th:block class="--footer" th:replace="~{layouts/footer :: footer}"></th:block>
</div>
</body>
</html>
