<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Main</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/layouts.css" />
    <link rel="stylesheet" href="../css/swiper.css" />
    <script type="text/javascript" src="../js/jquery-3.7.1.min.js"></script>    
    <script type="text/javascript" src="../js/layout.js"></script>
</head>
<body>
<div class="large-container">
	<div class="container" style="">
		<th:block class="--header" th:replace="~{layouts/header :: header}"></th:block>
		<div class="content">
			<th:block class="--swiper" th:replace="~{layouts/swiper :: swiper}"></th:block>
			<p>Items</p>
			<div class="site-desc">
				<section class="site-desc-direction">
					<div class="TwoColumn-Sec">
						<div class="TwoColumn-Sec-Col">
							<div class="TwoCol-Sec-MediaContainer">
								<img class="colimg" src="images/cont2.jpg">
							</div>
						</div>
						<div class="TwoColumn-Sec-Col">
							<div class="TwoCol-Sec-MediaContainer">
								<div class="Cols-Title mb-4">
									<h1>What We Stand For</h1>
								</div>
								<div class="Cols-event-Item">
									<div class="Cols-icon">
										<img src="images/icon1.png">
									</div>
									<div class="Cols-context mb-1">
										<h2>IMPACT PROTECTION</h2>
										<p>Pioneering impact protection technology that protects your devices like no other.</p>
									</div>
								</div>
								<div class="Cols-event-Item">
									<div class="Cols-icon">
										<img src="images/icon2.png">
									</div>
									<div class="Cols-context mb-1">
										<h2>SUSTAINABILITY</h2>
										<p>From recycled materials to intelligent bio-technology formulas, we protect your tech and our planet.</p>
									</div>
								</div>
								<div class="Cols-event-Item">
									<div class="Cols-icon">
										<img src="images/icon3.png">
									</div>
									<div class="Cols-context mb-1">
										<h2>DESIGN INNOVATION</h2>
										<p>Whether it’s product design or lab-developed material additives, we are always innovating our products.</p>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</section>
			</div>
			<div>
				<div class="Item-container">
					<div class="Item-card" th:each="item : ${items}">
						<a class="goto-item" th:href="@{item/view/{id}(id=${item.getId()})}">
						<div class="item-img-contain">
							<img class="item-img" th:src="@{${item.getImgPath()}}" alt="..." />
						</div>
						<div class="item-text">
							<p class="item-kind item-context" th:text="${item.getKind()}"></p>
							<p class="item-name item-context" th:text="${item.getName()}"></h3>
							<p class="item-value item-context" th:text="'$'+${item.getItem_price()}"></p>
						</div>
						</a>
						<div class="item-foot-goto">
							<a th:href="@{item/delete/{id}(id=${item.getId()})}"><button class="Delete-item btn btn-danger">Delete</button></a>
							<a th:href="@{item/modify/{id}(id=${item.getId()})}"><button class="Modify-item btn btn-primary">Modify</button></a>
						</div>
						
						
					</div>
					
					
				</div>
				<div align="right">
					<a href="/item/new">
						<button type="button" id="AddItem">Add Item</button>
					</a>
				</div>
			</div>
			<p>Ads</p>
		</div>
	    <p th:text="'Message: ' + ${message}">Message will appear here</p>
	</div>
	<th:block class="--footer" th:replace="~{layouts/footer :: footer}"></th:block>
</div>

</body>
</html>