<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>로그인</title>
</head>
<body>
    <form action="/signin" method="post">
      <h2>로그인</h2>
      <div>
          <label for="username">Username:</label>
          <input type="text" id="username" name="id" required>
      </div>
      <div>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Sign In</button>
      <a href="signup">회원가입</a>
    </form>
</body>
</html>

