<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>로그인</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/signup.css" />
<script type="text/javascript" src="../js/jquery-3.7.1.min.js"></script>  
<script type="text/javascript" src="./js/layout.js"></script>
</head>
<body>
    <form action="/signin" method="post" name="sign">
      <div class="MainContainer pt-10">
		<div class="auth-container contain-bg1 txt-light">
			<div class="text-container">
				<h1>Sign up</h1>
				<p>Welcome to My shop</p>
			</div>
		    <div class="usrn-container mt-20">
				<div class="w-100">
			        <label for="username">Username</label>
				</div>
		    	<div class="input-cont w-100">
			        <input class="w-100 p-2" type="text" name="username" placeholder="root" required="required"/>
		    	</div>
		    </div>
			
			<div class="password-container mt-20">
			    <div class="w-100">
			    	<div>
			        <label for="password">Password</label>
			    	</div>
			    	<div class="input-cont w-100">
			        <input class="w-100 p-2" type="password" name="password" placeholder="1234" required="required"/>
			    	</div>
			    </div>
			</div>
			<div class="button-cont">
				<button id="signin" class="btn btn-m-prime" type="button">Sign In</button>
	      		<a href="/signup"><button class="btn btn-m-prime" type="button">Sign Up</button></a>
      		</div>
		</div>
	</div>
    </form>
</body>
</html>

