<th:block class="--header" th:fragment="header">
<header class="mb-5 mt-5">
	<div class="--content d-flex justify-content-between border border-dark">
		<div class="--logo">
			<div sec:authorize="isAuthenticated()" class="--logo-img"><a href="/main">로고</a></div>
			<div sec:authorize="isAnonymous()" class="--logo-img"><a href="/">로고</a></div>
		</div>
		<div class="--navbar">
			<ul class="m-0 p-0 d-inline-flex">
				<li sec:authorize="hasRole('ROLE_USER')" class="--nav-item dropdown"><a href="/main">Home</a></li>
				<li sec:authorize="hasRole('USER')" class="--nav-item dropdown"><a th:href="'/cart/'+@{${user.getId()}}">Cart</a></li>
				<li sec:authorize="hasRole('USER')" class="--nav-item dropdown"><a href="/userInfo">MyPage</a></li>
				<li sec:authorize="hasRole('ADMIN')" class="--nav-item dropdown"><a>ADMINPAGE</a></li>
				<li sec:authorize="hasRole('ADMIN')" class="--nav-item dropdown"><a href="/memberFix">MemberFIX</a></li>
				<li sec:authorize="hasRole('ADMIN')" class="--nav-item dropdown"><a href="/deliveryFix">DeliveryFIX</a></li>
				<li sec:authorize="hasRole('ROLE_ADMIN')" class="--nav-item dropdown"><a href="/itemFix">ItemFIX</a></li>	
				<li sec:authorize="isAuthenticated()" class="--nav-item dropdown"><a href="/logout">Logout</a></li>
			</ul>
		</div>
	</div>
	<div class="--content d-flex justify-content-center border border-dark">
		<div class="--navbar d-inline-flex flex-row">
			<ul class="m-0 p-0 d-inline-flex --bs-gray">
				<li class="--nav-item dropdown"><a>Item1</a>
					<div class="dropdown-content">
				      <a href="#">Link 1</a>
				      <a href="#">Link 2</a>
				      <a href="#">Link 3</a>
				    </div>
				</li>
				<li class="--nav-item dropdown"><a>Item1</a></li>
				<li class="--nav-item dropdown"><a>Item1</a></li>
				<li class="--nav-item dropdown"><a>Item1</a></li>
				<li class="--nav-item dropdown"><a>Item1</a></li>
			</ul>

		</div>
	</div>
	<div class="MainBanner mt-4 mb-4">
		<h1 class="High-Banner">IPHONE & GALAXY COVERS</h1>
		<p>Buy One Case and Get 30% Off the Second Purchase! ... <a>Read more</a></p>
	</div>
</header>
</th:block>