<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>AddItem</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/layouts.css" />
    <link rel="stylesheet" href="../css/swiper.css" />
</head>
<body>
	<div class="content">
		<form th:action="@{/item/new/pro}" method="post" enctype="multipart/form-data">
			<div class="item_status">
				<label>상품 상태</label>
				<input type="radio" name="isSoldout" id="isSoldout" value="0">판매중
				<input type="radio" name="isSoldout" id="isSoldout" value="1">품절
			</div>
			<div>
				<label>상품 종류</label>
				<input type="text" name="kind" id="kind" placeholder="상품 종류">
			</div>
			<div>
				<label>상품 이름</label>
				<input type="text" name="name" id="name" placeholder="상품 이름">
			</div>
			<div>
				<label>상품 설명</label>
				<input type="text" name="detail" id="detail" placeholder="상품 설명">
			</div>
			<div>
				<label>상품 가격</label>
				<input type="text" name="item_price" id="item_price" placeholder="상품 가격">
			</div>
			<div>
				<label>상품 재고</label>
				<input type="text" name="stock" id="stock" placeholder="상품 가격">
			</div>
			<div>
				<label>상품 이미지 업로드</label>
				<input type="file" name="imgFile" id="imgFile">
			</div>
			
			<button type="submit">상품 등록</button>
		</form>
		<div>
			<a href="/main">메인으로</a>
		</div>
	</div>
</body>
</html>